build/
bin/
*.exe
*.dll
*.so
*.dylib
*.test
*.out
.maruminibot/
.marubot/
config.json
usersetting.json
sessions/
coverage.txt
coverage.html
.DS_Store

# Web Admin
node_modules/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env*.local

# Public Distribution folder
maru-bot/
../maru-bot/

# Web Admin dist
web-admin/dist/
